@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.homepage{
  display: flex;
  justify-content: center;
  position: relative;
  &.image {
    width: 100vw;
    margin-top: 3rem;
    filter: grayscale(rgba(153,165,204,1));
    border-radius: 2px;
  }
  &.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:40%;
  }
  &.text {
    color: white;
    font-weight: bolder;
    padding: 0.6rem 0.5rem;
    background-color: rgba(153,165,204,0.8);
    border-radius: 5px;
    margin: 0.5rem 0;
    box-shadow: 2px 1.5px rgb(65, 64, 64);
  }
  &.button {
    background-color: rgba(242,242,242,0.7);
    color: rgba(153,165,204, 1);
    border: 0;
    font-weight: bolder;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
  }

  &.button:hover {
    background-color: rgba(153,165,204,0.7);
    color: white;
    box-shadow: 2px 1.5px rgb(65, 64, 64);
  }
}
@media (min-width: 1201px) {
  .homepage{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 0;
    &.image {
      width: 95vw;
      margin-top: 0;
    }
    &.container {
      position: absolute;
      display: flex;
      flex-direction: column;
      top:40%;
    }
    &.text {
      color: white;
      font-weight: bolder;
      padding: 0.6rem 0.5rem;
    }
    &.button {
      background-color: rgba(242,242,242,0.8);
      border: 0;
      font-weight: bolder;
      padding: 0.6rem 1.5rem;
      cursor: pointer;
    }

    &.button:hover {


    }
  }
}
