<div class="header">
  <div>
    <img class="image-logo" src="./assets/images/project_logo.png" alt="">
  </div>
  <div class="header navigation-bar">
    <div class="header input-block">
      <input placeholder="Search All Products" class="header input-block input" type="text">
      <img class="header input-block image" src="./assets/images/search-solid.svg" alt="">
    </div>
    <div class="header navigation-bar">
      <div class="header input-block">
        <img class="header input-block image" src="./assets/images/shopping-cart-solid.svg" alt="">
        <div class="header cart">
          Cart
        </div>
      </div>
    </div>
  </div>
</div>
<app-navigation-bar></app-navigation-bar>
